/*
* 
        {
            border: 1px dashed #3A5FCD;
            box-sizing:border-box;
        }
*/

body
{
    background-color: #C8C8C8;
    font-family: verdana, arial, sans-serif;
    margin: 0;
}

#wrapper
{
    color:#FFFFFF;
    margin-top: 170px;
}

#sideA
{
    background-color: #008B8B;
    height: 80px;
    width: 470px;
    margin-top: 9px;
    line-height: 80px;
    text-align: center;
}

#sideA:hover
{
    background-color: #00BABA;
}

#sideB
{
    background-color: #D7DF01;
    width: 470px;
    height: 80px;
    margin-top: 9px;
    line-height: 80px;
    text-align:center;   
}

#sideB:hover
{
    background: #F3F781;
}

#sideC  
{
    background-color: #EE3E80;
    width: 470px;
    height: 80px;
    margin-top: 9px;
    line-height: 80px;
    text-align:center;   
}

#sideC a
{
    color: #FFFFFF;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#sideC:hover
{
    background: #F16D9D;
}