
body           
{
    background-color: #C8C8C8;
    font-family: verdana, arial, sans-serif;
    margin: 0;
}
          
#page-container 
{
    width: 760px;
    margin: auto;
}
     
#partA    
{
    background: #008B8B;
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 15px;
    padding: 5px;
    padding-left: 10px;
}
                
#partB    
{
    background: #EE3E80;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    padding-left: 10px;
}
 
#partC    
{
    background: #E0E0E0;
    color: #434343;
    margin-top: 15px;
    margin-bottom: 8px;
    padding: 13px;
}
        
/* navigation */

#nav ul 
{
    float: right;
    margin-left: 0;
    padding: 0;
    clear:both;
}
        
#nav li 
{
    float: right;
    list-style: none;
} 

#nav a 
{
    background: #008B8B;
    color: #FFFFFF;
    display: block;
    padding: 13px;
    font-weight: 500;
    text-decoration: none;
}
        
#nav a:hover 
{
    background: #00BABA; 
}        
              