
html, body {
	width: 100%;
}
html {
	min-height: 100%;
}
/* Container for Google Map and Sidebar list */
#map-container {
	width: 100%;
	//outline: pink solid thick;
}
/* Map Canvas for drawing Google Map */
#map-container #map-canvas {
	float:left;
	margin-left:auto;
	margin-right:auto;

	width: 74%;
	height: 350px; /* Support for anything that doesn't know vh unit*/
	height: 46vh;
} 
/* End Canvas */
#map-container ul {
	width: 25%;
	margin-left: 1%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
#map-container svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* End Container */

/* Graph Container */
#graph-container {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* End Graph Container */
/* Make the Map Canvas taller and skinnier when in portrait view */

@media only screen and (orientation: portrait) {
	#map-container #map-canvas {
		width: 100%;
	}
	#map-container ul {
		float: none;
		width: 90%;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
	}
	#map-container svg {
//		transform: translate(-10%,0) scale(.7,.7);
		top: 0;
		text-size: 1em;
		
	}
}


/* Google Maps Sidebar List Items Styles */
@font-face {
	font-family: KRCloudNine;
	src: url(/fonts/KR_Cloud_Nine.ttf);
}
#marker_list li {
	list-style: none;
	border: 1px solid #ccc;
	cursor:pointer;
	font-family: KRCloudNine;
	font-size: 1.750em;

	background: rgba(216,225,231,1);
	background: -moz-linear-gradient(-45deg, rgba(216,225,231,1) 0%, rgba(216,225,231,1) 6%, rgba(181,198,208,1) 33%, rgba(242,246,248,1) 76%, rgba(224,239,249,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(216,225,231,1)), color-stop(6%, rgba(216,225,231,1)), color-stop(33%, rgba(181,198,208,1)), color-stop(76%, rgba(242,246,248,1)), color-stop(100%, rgba(224,239,249,1)));
	background: -webkit-linear-gradient(-45deg, rgba(216,225,231,1) 0%, rgba(216,225,231,1) 6%, rgba(181,198,208,1) 33%, rgba(242,246,248,1) 76%, rgba(224,239,249,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(216,225,231,1) 0%, rgba(216,225,231,1) 6%, rgba(181,198,208,1) 33%, rgba(242,246,248,1) 76%, rgba(224,239,249,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(216,225,231,1) 0%, rgba(216,225,231,1) 6%, rgba(181,198,208,1) 33%, rgba(242,246,248,1) 76%, rgba(224,239,249,1) 100%);
	background: linear-gradient(135deg, rgba(216,225,231,1) 0%, rgba(216,225,231,1) 6%, rgba(181,198,208,1) 33%, rgba(242,246,248,1) 76%, rgba(224,239,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e1e7', endColorstr='#e0eff9', GradientType=1 );


	color: red;
	color:rgba(76,76,76,1);
}
#marker_list li.list_highlight {
	background: rgba(252,234,187,1);
	background: -moz-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(248,181,0,0.62) 51%, rgba(251,223,147,0.25) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(51%, rgba(248,181,0,0.62)), color-stop(100%, rgba(251,223,147,0.25)));
	background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(248,181,0,0.62) 51%, rgba(251,223,147,0.25) 100%);
	background: -o-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(248,181,0,0.62) 51%, rgba(251,223,147,0.25) 100%);
	background: -ms-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(248,181,0,0.62) 51%, rgba(251,223,147,0.25) 100%);
	background: linear-gradient(135deg, rgba(252,234,187,1) 0%, rgba(248,181,0,0.62) 51%, rgba(251,223,147,0.25) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
}
